node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
/api/package.json
/api/package-lock.json
/api/yarn.lock
/api/node_modules/



# macOS
.DS_Store
app/config/google-services.json
app/config/GoogleService-Info.plist